<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Reservation system{% endblock %}</title>
    <!--  Just a font stuff  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--  Css framework: Tailwind  -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!--  Linking custom css styles  -->
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <main class="app">
        {% block content %}{% endblock %}
    </main>
</body>
</html>